.image {
  background-color: aqua;
  width: fit-content;
}

.description {
  margin: auto;
  text-align: center;
}

.product_container {
  width: fit-content;
  height: fit-content;
  justify-content: center;
}

.product-image {
  box-sizing: border-box;
}
