.image {
  /* width: fit-content; */
}

.description {
  margin: auto;
  text-align: center;
}

.product_container {
  /* width: fit-content; */
  /* height: fit-content; */
  width:30%;
  justify-content: center;
}


.image-div{

  width: 100%;
  height: 100%;
  object-fit: contain;
}
