#home{
  display:grid;

 /* filter: blur(10px); */
}
.circle{
  border-radius: 50%;
  width:40vw;
  height:40vw;
position: absolute;
  border-bottom:25px solid black;

}


#circle-1{
/* transform: rotateX(60deg), rotateY(40deg); */
/* background: radial-gradient(circle at 100px 100px, #5cabff, #000); */

border-bottom:5px solid black;

animation: moveCircle1 1s ease infinite, moveCircle1 3s ease infinite;
}
@keyframes moveCircle1{
  0%{ transform: rotateZ(0deg); }
  100%{ transform:  rotateZ(360deg);  }
}

#circle-2{
  transform: rotateX(280deg) rotateY(360deg);

  animation: moveCircle2 1s ease infinite;
}

@keyframes moveCircle2{
  0%{ transform: rotateX(280deg) rotateY(360deg) rotateZ(0deg); }
  100%{ transform:  rotateX(280deg) rotateY(360deg) rotateZ(360deg);  }
}

#circle-3{
  transform: rotateX(280deg) rotateY(300deg);
  /* animation: moveX 1s ease infinite; */
  animation: moveCircle3 1s ease infinite;
}
@keyframes moveCircle3{
  0%{ transform: rotateX(280deg) rotateY(300deg) rotateZ(0deg); }
  100%{ transform:  rotateX(280deg) rotateY(300deg) rotateZ(360deg);  }
}

#circle-4{
  transform: rotateX(280deg) rotateY(242deg);
  animation: moveCircle4 1s ease infinite;
}
@keyframes moveCircle4{
  0%{ transform: rotateX(280deg) rotateY(242deg) rotateZ(0deg); }
  100%{ transform:  rotateX(280deg) rotateY(242deg) rotateZ(360deg);  }
}

#circle-5{
  border-bottom: 5px solid black;
  transform: rotateX(200deg) rotateY(265deg);
  animation: moveCircle5 1s ease infinite;
}
@keyframes moveCircle5{
  0%{ transform: rotateX(200deg) rotateY(265deg) rotateZ(0deg); }
  100%{ transform: rotateX(200deg) rotateY(265deg)  rotateZ(360deg);  }
}

#circle-6{
  transform: rotateX(280deg) rotateY(300deg);
  animation: moveCircle6 1s ease infinite;
}

@keyframes moveCircle6{
  0%{ transform: rotateX(280deg) rotateY(300deg) rotateZ(0deg); }
  100%{ transform: rotateX(280deg) rotateY(300deg) rotateZ(360deg);  }
}


#circle-7{
  transform: rotateX(280deg) rotateY(360deg);
  animation: moveCircle7 1s ease infinite;
  border-bottom:none;
  border-top:5px solid black;
}

@keyframes moveCircle7{
  0%{ transform: rotateX(0deg); }
  100%{ transform:  rotateX(360deg);  }
}

#circle-8{
  transform: rotateX(280deg) rotateY(397deg);
  animation: moveCircle8 1s ease infinite;
}
@keyframes moveCircle8{
  0%{ transform: rotateX(280deg) rotateY(397deg) rotateZ(0deg); }
  100%{ transform: rotateX(280deg) rotateY(397deg) rotateZ(360deg);  }
}

#circle-9{
  transform: rotateX(280deg) rotateY(155deg);
  animation: moveCircle9 1s ease infinite;
}
@keyframes moveCircle9{
  0%{ transform: rotateX(280deg) rotateY(155deg) rotateZ(0deg); }
  100%{ transform:  rotateX(0deg) rotateY(155deg) rotateZ(360deg);  }
}


#circle-10{
  transform: rotateX(280deg) rotateY(0deg) rotateZ(360deg);
  animation: moveCircle10 1s ease infinite;
}
@keyframes moveCircle10{
  0%{ transform: rotateX(280deg) rotateY(0deg) rotateZ(360deg); }
  100%{ transform: rotateX(280deg) rotateY(360deg) rotateZ(360deg);  }
}


@keyframes moveCircle{
  0%{ transform: rotateZ(0deg); }
  100%{ transform:  rotateZ(360deg);  }
}
