#main-nav{
  display:grid;
  grid-template-columns:20% 10% 20% 20% 20% 10%;
  height:10vh;
}

.main-nav-big{

}

.main-nav-small{
display: grid;
align-items: center;

}

#main-nav-bag{
  width: 50%;
  height: 50%;
  justify-self: center;
  object-fit: scale-down;
}

#main-nav-logo{
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  background-image:url('logo.png')
}

#main-nav-logo-img{
  height:8vh;
  grid-column:2;
}



.fa-shopping-cart{
  font-size: xx-large;
width: 100%;
display: grid;
height: 100%;
align-items: center;
justify-content: center;
}

@media only screen and (max-width:550px){
  #main-nav-logo{
    grid-column: 1 / span 2;
  }

  #main-nav-name{
    display:none;
    grid-column:none;
  }
}
@keyframes openBag {
  0% {
      width: 0%;
      /* transform: scale(.8); */

  }
  100% {
      width: 100%;
      /* transform:scale(1.3); */
  }
}

