.cart-item{
  display:grid;
  grid-template-columns: 29% 69%;
  grid-column-gap:2%;
  border-bottom:1px solid gray;
  text-align: center;;
}


.cart-stock-img{
  width:100%;
  height:100%;
  object-fit: contain;
}
.cart-text{
  grid-column: 2;
  display:grid;
  grid-template-rows:auto;
}

.removeButton{
  justify-self:right;
}


.cart-quantity-row{
  display:grid;
  justify-content: center;
  grid-template-columns: 10% fit-content(100%) 10%;
}
