#bag-main-nav{
  grid-column: 3;
  width:100%;
  justify-self:right;

  height:100%;
  display:none;
  grid-template-rows: 5% 80% 15%;


}

.bag-change{
  display:grid;
  justify-content: end;
  margin-right: 4vw;
}

.bag-up{
animation: moveUp 1s ease infinite;
}

@keyframes moveUp{
  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-10px);
  }
  
  100%{
    transform:translateY(0px);
  }
}


.bag-left{
  animation: moveLeft 1s ease infinite;
  }
  
  @keyframes moveLeft{
    0%{
      transform:translateX(0px);
    }
  
    50%{
      transform:translateX(-10px);
    }
    
    100%{
      transform:translateX(0px);
    }
  }