#payment-container{
display:grid;
grid-gap:1%;
height:90%;
}

#payment-form{
  display: grid;
  grid-auto-rows: auto;
  height: 100%;
  width: 100%
}

.payment-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height:80%;

}
.payment-col{

}
.full{
    grid-column: 1 / span 2;
}

input[type=text]{

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;



}

input[type=text]:focus {


}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected{

}

@keyframes keystroke{
  from, to {opacity:70%; }
  to {box-shadow: 0 0 2.5% whitesmoke;}
}
