.wrapper_img_right {
  display: grid;
  grid-template-columns: 59% 39%;
  grid-column-gap: 1%;
}

.wrapper_img_left {
  display: grid;
  grid-template-columns: 39% 59%;
  grid-column-gap: 1%;
}

.wrapper_null_img {
  display: grid;
}

.infosquare-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.image_right{
  grid-column:2;
  grid-row:1;
}
.text_left{
  white-space: break-spaces;
  overflow-wrap:anywhere;
  /* grid-column:1; */
  /* grid-row:1; */
}

.text_right{
  white-space: break-spaces;
  overflow-wrap:anywhere;
}


.poem{
  text-align: center;
}
@media only screen and (max-width:750px){


  .wrapper_img_left {
    grid-template-columns: none;
  }

  .wrapper_img_right {
    grid-template-columns:none;
  }

  .image_right{
    grid-row:unset;
    grid-column:unset;
  }
}