.dynamic-container {
  width: 100%;
  height:fit-content;
  grid-column: 1 / span 2;
  display: grid;
  border:1px solid orange;
  /* grid-template-rows:60% fit-content(100%) fit-content(100%); */
  grid-row-gap:2%;
  height:100%;
  /* align-items: center;
  justify-items: center;
  align-content:baseline; */

}

.product-image { 
  display: grid; 
  width: 100%;
  /* height: 100%; */
  /* max-height:65vh; */
  object-fit: contain;
  
  grid-row: 1 ;
}

.product-ui {
  /* width: 100%;
  height:100%;  */
  grid-row: 2 ;
  border:1px solid blue;
 
}

.product-info {

  margin: 0 auto;
  text-align: center;
  

}

.inventory-buttons {

  margin: 0 auto;
}

.size-selection {
  text-align: center;
}

.add-to-cart {

  margin: 0 auto;


}

.product-description {
  grid-row: 3;
  overflow-y:scroll;
  /* height:100%; */
  text-align: center;
  border:1px solid green;
}


@media only screen and (max-width:750px){
  .dynamic-container{
    /* grid-template-columns: 40% 60%; */
    grid-template-rows:fit-content(28%) fit-content(15%) fit-content(48%);
  }

  .product-image{
    /* max-height:60%; */
    height:100%;
    max-height:30vh;
    width: 100%;
    border:1px solid red;
  }

}
@media only screen and (min-width:750px){
  
  .dynamic-container{
    grid-template-columns: 40% 60%;
    grid-template-rows:fit-content(100%);
    align-items:center;
  }

  .product-ui{
    grid-column:1;
    grid-row:1;
  }
  .product-image{
    grid-column:2;
    grid-row:1;
    height: 100%;
    max-height:65vh;
  }
  
  .product-description{
    grid-column: 1 / span 2;
    grid-row:2;
  }
}


@keyframes submitfeedback {
  0%{
    
    opacity:0;
  }
  50%{
    background:tint(green,30%);
  }
  100%{
    opacity:1;
  }

}