.button {
  display: grid;
  text-align: center;
  /* min-width: 35px;
  min-height: 35px; */
  width:100%;
  height:100%;
  align-items: center; 
}

.button:hover {
  transition: text-decoration .05s ease-in;
  text-decoration: underline solid;
}

a{
  color:inherit;
  text-decoration: inherit;
}

#submit-button{

  
}

#submit-button:focus{
  animation: submitfeedback 1s linear;
}

#submit-button:active{
  animation: none;
}


@keyframes submitfeedback {
  0%{
    
    opacity:0;
  }
  100%{
    opacity:1;
  }

}