#business-logic{
    display:grid;
    /* grid-template-columns: 25% 75%; */
    grid-template-columns: fit-content(100%) auto fit-content(30%);
    height:88vh;
    grid-column-gap: 1%;
}


body{
  font-family:Futura, sans-serif;
}


.business-logic-right{
  overflow-y:scroll;
  animation: openPage 1s ease;
  display: grid;
}


.business-logic-right::webkit-scrollbar{
  width:10px;
  background:black;
}



.catalog{
  display:flex;
  flex-flow:row wrap;
  align-items:flex-end;
  gap: 1vh 1vw;
}
@keyframes openPage {
  0% {
      opacity: 0;
      /* transform: scale(.8); */

  }
  100% {
      opacity: 1;
      /* transform:scale(1.3); */
  }
}
